body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.movie-card {
  background-color: #1f1f1f;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;       
  max-height: 300px;  
  object-fit: contain; /* non taglia l'immagine */
  background-color: #1f1f1f; 
}


.movie-card h3 {
  padding: 10px;
  margin: 0;
  font-size: 18px;
  text-align: center;
}

/* Popup overlay */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #1f1f1f;
  display: flex;
  max-width: 800px;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
}

.popup-content img {
  width: 50%;
  object-fit: cover;
}

.popup-description {
  padding: 20px;
  flex: 1;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
